#home {
	background: #ffc107;
	width: 100%;
	color: white;
}

.branco {
	color: white;
}


.caixa {
	padding: 60px 0;
	border-bottom: 1px solid #e5e5e5;
}

footer p a {
	margin: 5px 15px;
}

footer div a i {
	font-size: 25px;

}

footer div a  {
	margin-left: 5px;
}


@media (max-width: 376px){
	.small input{
		width: 100%;
		
		
	}
	.container2 div , p{
		font-size: 17px;
		

	}

	.container2 div h1 {
		font-weight: bold;
		text-align: center;
		font-size: 25px;

	}
	
}